/*[fmt]2A10-1A0B-3*/
html { height: 101%; } 

body  {
 background-color: #F0F0F0;
 color: #616365;
 margin: 0;
 padding: 0;
}

#wrapper  {
 background: url(../../images/layout/bg_header.png) repeat-x;
}

* html #wrapper  {
 height: 1%;
}

#header  {
 margin: 0 auto;
 padding-top: 5px;
 text-align: left;
 width: 890px;
}

#headerWrapper  {
}

#header h1  {
 border: 0;
 float: left;
 margin: 0;
 padding: 8px 0 2px 10px;
 max-width: 332px;
}

#header h1 a  {
 border: 0;
 font-weight: normal;
}

#header h2  {
 border: 0;
 float: left;
 margin: 0 5px 0 0;
 padding: 0px 0 10px 10px;
 width: 500px;
}

#header h2 a  {
 border: 0;
 font-weight: normal;
}


#systemNotices  {
 margin: 0 auto;
 padding: 10px 0;
 text-align: left;
 width: 890px;
}

#systemNotices ul  {
 margin: 0;
 padding: 0 0 0 15px;
}

#systemNotices a, #systemNotices a:hover  {
 border: 0;
 text-decoration: underline;
}

/*--------------------  top user nav ---------------------*/
#userboxWrapper  {
    xbackground: #00B6EC;
 xborder: 1px solid #C1C1C1;
 color: #616365;
 float: right;
 font-size: 0.95em;
 margin-bottom: 2px;
 margin-right: 0px;
 xwidth: 540px;
 z-index: 250;
}

#userbox  {
 padding: 0 5px;
}

#userbox p  {
 float: left;
 margin: 0;
 padding: 5px;
}

/*-------------------- general userbox links---------------------*/
#account_more_menu {
 float: right;
 list-style: none;
 margin: 5px 0;
 padding: 0;
}

#page_menu {
 float: right;
 margin: 0px 235px 0px 0px;
 list-style: none;
 padding: 0;
}

#account_more_menu li, #page_menu li  {
 background: #fff;
 border: 1px solid #C1C1C1;
 float: left;
 list-style: none;
 margin: 0;
 margin-left: -1px;
 padding: 0 !important;
}

#account_more_menu li a, #page_menu li a  {
/* background-image: url(../../images/layout/bg_dropdown_arrow_24x24.png);*/
 background-position: top right;
 background-repeat: no-repeat;
 border: none;
 color: #616365;
 display: block;
 padding: 0px 6px 0px 6px;
}

#account_more_menu li a:hover  {
    color: #00B6EC;

}

/*-------------------- submenus---------------------*/
#account_more_menu ul, #page_menu ul  {
 background-color: #FFFFFF;
 border: 1px solid #CCCCCC;
 clear: left;
 font-weight: normal;
/*height: auto;*/
 left: -999em;
/*using left instead of display to hide menus because display: none isn't read by screen readers*/
 xline-height: 120%;
 list-style: none;
 margin: 0px;
 padding: 0;
 position: absolute;
 width: 12em;
 z-index: 1000 !important;
}

#account_more_menu li ul li.header, #page_menu li ul li .header {
  font-size: 1em;
}

#account_more_menu ul li, #page_menu ul li  {
 background-image: none !important;
 border: none;
 float: none;
 xfont-size: 0.95em;
 list-style: none;
 list-style-image: none !important;
 margin: 0 0 0 0;
 padding: 0;
 white-space:pre-wrap;
 white-space:-moz-pre-wrap !important;
 word-wrap:break-word;
}

* html #account_more_menu ul li, * html #account_more_menu ul li a  {
 height: 1%;
}

#account_more_menu h6  {
 background-color: #F5F5F5;
 border-bottom: 1px solid #8DBBCE;
 color: #333333;
 font-size: 1em;
 font-weight: bold;
 margin: 0;
 padding: 3px 5px !important;
}

/*-------------------- second level links ---------------------*/
#account_more_menu ul li span, #page_menu ul li span {
 margin: 0;
 padding: 3px 10px !important;
}

#account_more_menu ul li a, #page_menu ul li a  {
 background-image: none !important;
 border: none;
 border-bottom: 1px solid #D8D8D8;
 xfont-size: 1em;
 xfont-weight: normal;
 height: auto;
 line-height: 1.2em;
 margin: 0;
 padding: 3px 10px !important;
}

#account_more_menu ul li a:hover, #page_menu ul li a:hover  {
    background-color: #00B6EC;
 color: #fff;
 text-decoration: none;
}

#page_menu li.align-right  {
  float: right;
  position: relative;
}


#page_menu li.align-right:hover ul  {
  right: 0px;
  text-align: left;
}

#page_menu ul li a:hover  {
  left: 10px;
}

#account_more_menu li:hover ul ul, 
#account_more_menu li:hover ul ul ul, 
#account_more_menu li.sfhover ul ul, 
#account_more_menu li.sfhover ul ul ul  
{
 left: -999em;
}

#page_menu li:hover ul ul, #account_more_menu li:hover ul ul ul, #account_more_menu li.sfhover ul ul, #account_more_menu li.sfhover ul ul ul  {
 left: -999em;
}

#account_more_menu li:hover ul, #account_more_menu li li:hover ul, #account_more_menu li li li:hover ul, #account_more_menu li.sfhover ul, #account_more_menu li li.sfhover ul, #account_more_menu li li li.sfhover ul  {
 left: auto;
/*lists nested under hovered list items*/
}

#page_menu li:hover ul, #page_menu_menu li li:hover ul, #page_menu_menu li li li:hover ul, #page_menu_menu li.sfhover ul, #page_menu_menu li li.sfhover ul, #page_menu_menu li li li.sfhover ul  {
 left: auto;
/*lists nested under hovered list items*/
}


/*-------------------- 1st level  hover---------------------*/
#account_more_menu li:hover a, #account_more_menu li.sfhover a  {
 background-color: #F8F8F8;
 color: #0079AF;
}

#page_menu li:hover a, #page_menu li.sfhover a  {
 background-color: #F8F8F8;
 color: #0079AF;
}


/*-------------------- second level on hover---------------------*/
#account_more_menu li li:hover a, #account_more_menu li li.sfhover a  {
 background-color: transparent;
 color: #0079AF;
}

#account_more_menu li:hover li a:hover, #account_more_menu li.sfhover li a:hover  {
 background-color: #EEF6FF;
 color: #0079AF;
}

#account_more_menu li ul li ul li:hover a  {
 color: #0079AF;
}

#account_more_menu li:hover ul li ul {
  left: 100px;
}

/*-------------------- ie mac fixes ---------------------
only IE mac will see this*/
* html>body #account_more_menu li a  {
}

* html>body #account_more_menu li  {
 text-align: center;
 white-space: nowrap;
 width: 60px;
}

* html>body #account_more_menu li li  {
 text-align: left;
 white-space: nowrap;
 width: 125px;
}

* html>body #account_more_menu li li:hover ul, #account_more_menu li li.sfhover ul  {
 left: 110px;
}

/*======================================== Main Menu Tabs============================================*/
#tabsWrapper  {
 clear: both;
 margin: 10px auto 0;
 padding: 0;
 width: 890px;
}

#tabs  {
 float: left;
 margin: 0;
 padding: 0;
 text-align: left;
}

#tabs ul  {
 list-style: none;
 list-style-image: none;
 margin: 0;
 padding: 0 5px;
}

#tabs ul li  {
    background: #FFF;
 border: 1px solid #A6A6A6;
 border-bottom: 0;
 float: left;
 list-style: none;
 margin: 0 -1px 0 0;
}

#tabs ul li a  {
 background-repeat: no-repeat;
 border: 0;
 color: #616365;
 display: block;
 font-size: 1em;
 line-height: 28px;
 padding: 0 10px;
 text-decoration: none;
}

#tabs ul li a:hover  {
    color: #00B6EC;
 text-decoration: none;
}

#tabs ul li.active  {
    background: #00B6EC;
    border: 1px solid #00B6EC;
    border-bottom: 1px solid #00B6EC !important;
 font-weight: bold;
 margin-bottom: -1px;
 position: relative;
}

#tabs ul li.active a  {
 color: #FFFFFF;
 font-weight: bold;
}

#tabs ul li.active a:hover  {
 color: #FFFFFF;
 text-decoration: none;
}

/** Crumbs **/
#crumbsWrapper  {
    background-color: #00B6EC;
/* background-image: url(../../images/layout/bg_crumbs.png);*/
 background-repeat: repeat-x;
    border-bottom: 1px solid #00B6EC;
    border-top: 1px solid #00B6EC;
 clear: both;
 float: left;
 height: 28px;
 margin: 0 auto;
 width: 100%;
}

#crumbsBlock  {
 font-size: 13px;
 line-height: 28px;
 margin: 0 auto;
 padding: 0 10px;
 text-align: left;
 width: 890px;
}

* html #crumbsBlock  {
 padding: 3px 10px;
}

#crumbs  {
 float: left;
}

#crumbs ul  {
 list-style: none;
 margin: 0;
 padding: 0;
}

#crumbs ul li  {
 color: #FFFFFF;
 display: inline;
 font-size: 13px;
 font-weight: bold;
 line-height: 22px;
 border-right: none;
 padding: 0 5px;
}

#crumbs ul li span  {
 font-weight: bold;
}

#crumbs ul li a  {
 border: 0;
 color: #616365
 font-weight: bold;
 margin: 0 3px;
 text-decoration: none;
}

#crumbs ul li a:hover  {
 background: transparent;
    color: #fff;
 text-decoration: none;
}

#searchBox  {
 padding: 0 10px;
 text-align: right;
}

#searchBox input  {
 background-color: #FFFFFF;
 background-image: url(../../images/layout/bg_inputs.png);
 background-repeat: no-repeat;
 border: 1px solid #999999;
 font-family: calibri, tahoma, verdana, arial, helvetica, sans-serif;
 font-size: 12px;
 padding: 2px 5px;
 width: 150px;
}

#searchBox input:focus  {
 background: #F8F8F8;
 border: 1px solid #666666;
}

#searchBox button  {
 display: none;
 font-size: 11px;
}

/** Content **/
#outerContentWrapper  {
 clear: both;
}
/*--------------------  View options ---------------------*/

#viewToggle {
 float: right;
 margin: 0px 5px 0px 0px;
 list-style: none;
 padding: 0;
}

/*--------------------  Page actions ---------------------*/
#page_actionsWrapper  {
 height: 28px;
 background-color: #EEF6FF;
 background-color: #B5CD73;
 background-image: url(../../images/layout/bg_pageactions.png);
 background-repeat: repeat-x;
 border: 1px solid #9BB15A;
 padding: 0;
}

#page_actionsBlock  {
 font-size: 13px;
 line-height: 28px;
 margin: 0 auto;
 padding: 0 10px;
 text-align: left;
 width: 890px;
}

#page_actions  {
 float: left;
}

/*clearing hacks*/
#page_actions  {
 overflow: hidden;
}

#page_actions ul  {
 list-style: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
}

#page_actions ul li  {
 float: left;
 font-size: 12px;
 font-weight: bold;
 margin: 0;
 padding: 0;
}

#page_actions ul li a  {
 line-height: 28px;
 border: 0;
 border-left: 1px solid #DAE6B5;
 border-right: 1px solid #9BB15A;
 color: #5C6C2D;
 display: block;
 padding: 0px 8px;
 text-decoration: none;
}

#page_actions ul li a:hover  {
 color: #000000;
}

/*-------------------- main content wrapper---------------------*/
#innerContentWrapper  {
/* background-image: url(../../images/layout/bg_innercontent.png);*/
/* background-repeat: repeat-y;*/
 margin: 0px auto;
 padding: 10px 15px;
 text-align: left;
 width: 890px;
}

#pageTitle  {
    color: #00B6EC;
 font-size: 22px;
 font-weight: bold;
 margin-left: 15px;
 width: 640px;
}

#pageContent  {
}

#content  {
 float: left;
 min-height: 300px;
 padding: 5px 15px;
 width: 640px;
}

/*--------------------  Sidebar ---------------------*/
#sidebar  {
 font-size: 12px;
 margin-left: 680px;
 padding: 10px 15px;
}

#sidebar h2  {
 font-size: 14px;
 margin-top: 0;
}

#sidebar li  {
 padding: 2px 0;
 xwidth:160px;
 white-space:pre-wrap;
 white-space:-moz-pre-wrap !important;
 word-wrap:break-word;
}

#sidebar .blockContent  {
 line-height: 120%;
 margin-bottom: 10px;
 padding: 0 5px;
}

#sidebar .listWithDetails li  {
 padding-bottom: 5px;
}

#sidebar .listWithDetails li a  {
 width: 100%;
 overflow: hidden;
}

#userPermissions tr {
  border-bottom: 1px solid #cccccc;
}

#userPermissions table {
  table-layout: auto;
}

#im {
  table-layout: auto;
}

td.projectPermission {
  vertical-align: middle;
}

/*--------------------  Footer ---------------------*/
#footer  {
/* background-image: url(../../images/layout/bg_footer.png);*/
/* background-repeat: no-repeat;*/
 clear: both;
 color: #999999;
 font-size: 10px;
 margin: 0 auto;
 padding: 20px;
 text-align: left;
 width: 880px;
}

#footer a  {
 border-bottom-color: #CCCCCC;
 color: #999999;
}

#copy  {
 float: left;
}

#productSignature  {
 text-align: right;
}

#listOfRssFeeds  {
 list-style: none;
 list-style-image: none;
 padding: 0 0 0 4px;
}

#listOfRssFeeds li  {
 background: url('../../images/icons/feed.gif') no-repeat;
 line-height: 12px;
 list-style-image: none;
 margin: 2px 0;
 padding-left: 16px;
}

/** Helper classes **/
.clear  {
 clear: both;
 height: 1px;
 overflow: hidden;
}

#error, #success  {
 border: 1px solid #CCCCCC;
 clear: both;
 cursor: pointer;
 font-weight: bold;
 margin: 10px 15px;
 padding: 5px 10px;
 text-align: left;
}

#error  {
 background-color: #F8E9E0;
 background-image: url(../../images/layout/bg_alert.png);
 background-repeat: repeat-x;
 border: 1px solid #EFCAB9;
 padding: 5px;
}

#success  {
 background: url(../../images/layout/bg_success.png) repeat-x top center;
 background-color: #FAF9E4;
 border: 1px solid #F2EEB7;
 margin-bottom: 10px;
 padding: 5px;
}

#innerContentWrapper #success, #innerContentWrapper #error  {
 float: left;
 width: 640px;
}

/** User card **/
div.card  {
 background: #F5F5F5 url('../../images/logtypes/old.gif') repeat-x top right;
 border: 1px solid #E0E0E0;
 padding: 10px;
}

.favorite { height: 19px; width: 20px; margin: 2px; overflow: hidden; float: right; position: relative; top: -4px; }
.favorite.off img { position: relative; top: -19px; }
.favorite.on img { position: relative; top: 0px; }

* html div.card  {
 padding-top: 5px;
}

.icon  {
 xbackground: #F5F5F5 url('../../images/logtypes/old.gif') repeat-x top right;
 border: 1px solid #E0E0E0;
 float: left;
 margin: 2px;
 padding: 2px;
}

div.card div.cardData  {
 margin-left: 80px;
}

div.card div.cardData h2  {
 margin-top: 0;
}

div.card div.cardBlock  {
 margin-bottom: 25px;
 padding-left: 10px;
}

div.card div.cardBlock span  {
 color: #333333;
 font-weight: bold;
}

div.card table  {
 margin-top: 10px;
}

div.card table, div.card table tr, div.card table td  {
 border: 0;
}

div.card table tr, div.card table td  {
 padding: 2px;
}

/* user card */

/* Advanced pagination **/

#alphabet { width: 100%; text-align: center; }
#alphabet .letter { margin: 0px 4px;}
#alphabet .letter .disabled { color: #aaa;}


div.advancedPagination  {
 background: url('../../images/logtypes/old.gif') whiteSmoke repeat-x top right;
 border: 1px solid #E0E0E0;
 min-height: 20px;
 padding: 2px 5px;
}

div.advancedPagination span  {
 line-height: 20px;
}

div.advancedPagination select  {
 padding: 0;
}

/** /Advanced pagination *
* Private **/
div.private  {
 background: url('../../images/icons/private.gif') no-repeat;
 float: right;
 height: 12px;
 overflow: hidden;
 width: 50px;
}

div.private span  {
 display: none;
}

div .icon { float: left; text-align: center; width: 60px; border: 0; }
div .block { margin-left: 0px; }

.options, .object_options { margin: 2px 5px 4px 5px; }
.options a, .object_options a { color: #4887A0; }

#links li .block { margin-left: 0px; }
#links li { list-style-image: none !important; border: 0; }
#links img { background-image: none !important; border: 0; }
#links { padding: 0; }
#links .odd { background-color: transparent; }

#oldmemo{position:fixed;bottom:0px;right:0px;background-color:#FAF9E4;height:150px;width:150px;font-weight: bold;font-size:14px;border:1px solid black;padding:2px;z-index: 9998;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;-moz-border-radius:5px;border-radius: 5px;}
#oldmemo .header{text-align:center;background-color:#FAF9E4; color: black}
#oldmemo textarea{width:140px;height:110px;margin:0px;background:transparent;border:none;color:black}
#memo .content { margin-left: 0px; }


#memo {
  position:fixed;
  bottom:-230px;
  right:10px;
  background-color:#FAF9E4;
  height:250px;
  width:250px; 
  font-weight: bold;
  font-size:14px;
  border:1px solid black;
  padding:2px;
  z-index: 9998;
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  opacity: 0.9;
  -moz-border-radius:5px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#memo:hover { bottom:0; }
#memo .header{ 
  line-height:18px; 
  text-align:center;
  background-color:#FAF9E4;
  color: black; 
  background:url(../../images/icons/edit.gif) top right no-repeat; 
  margin-right:2px; 
  margin-top:2px;
}
#memo:hover .header { background-image:none; }
#memo textarea{width:240px;height:210px;margin:0px;background:transparent;border:none;color:black}
