label { display: block; xfont-size: 12px; font-weight: bold; margin: 3px 0; }
label.checkbox, label.yes_no { display: inline; position: relative; top: -2px; }
* html label.checkbox, * html label.yes_no { top: 1px; }
label.yes_no { font-weight: normal; }
label span.label_required { color: #bf5940; }
input, textarea, select{ background-color: #ffffff; background-image: url(../../images/layout/bg_inputs.png); background-repeat: no-repeat; border: 1px solid #cccccc; font-family: calibri, tahoma,verdana, arial, helvetica, sans-serif; font-size: 12px; padding: 2px 5px; }
select { padding: 1px; }
input:hover, textarea:hover, select:hover { border: 1px solid #aaaaaa; }
input:focus, textarea:focus, select:focus { border: 1px solid #8dbbce; }
fieldset { border: 1px solid #cccccc; background-color: #f6f8f9; margin: 10px 0; padding: 0 5px 5px 5px; }
fieldset legend { font-weight: bold; }
input { width: 200px; }
input.short { width: 50px; }
input.medium { width: 150px; }
input.long { width: 400px; }
input.title { width: 530px; }
input.checkbox, input.yes_no { background: transparent; border: 0; width: auto; }
legend label.checkbox { font-weight: bold; }
textarea, textarea.long { height: 150px; width: 400px; }
textarea.short { height: 70px; width: 90%; }
textarea.comment { height: 150px; width: 488px; }
textarea.editor { height: 300px; width: 530px; }
button, button.submit, input[type=submit], button[type=submit], .submit { background-color: #00B6EC;  border: 1px solid #00B6EC; color: #ffffff; font-size: 12px; font-weight: bold; letter-spacing: 1px; margin-top: 10px; padding: 4px 12px; }
button:hover, button.submit:hover, input[type=submit]:hover, button[type=submit]:hover, .submit:hover { border: 1px solid #2b586a; color: #616365; }
button, .submit, .reset{ float: right; margin-left: 5px; overflow: visible; vertical-align: middle; }
button[type=reset],input[type=reset]{ background-color: #a9a9a9; background-image: url(../../images/layout/bg_btn_reset.png); border: 1px solid #9a9a9a; margin-top: -.70em; }
button.reset,* html button{ background-color: #a9a9a9; background-image: url(../../images/layout/bg_btn_reset.png); border: 1px solid #9a9a9a; color: #ffffff; font-size: 12px; font-weight: bold; letter-spacing: 1px; margin-top: -.70em; padding: 4px 12px; }
* html .submit { background-color: #599db7; background-image: url(../../images/layout/bg_crumbs.png); background-repeat: repeat-x; border: 1px solid #4887a0; margin-top: 10px; }
/*-------------------- hack opera---------------------*/ 
html:first-child button[type=reset],input[type=reset]{  margin-top: .8em;  }
span.required { color: #bf5940; }
form div.formBlock label { margin-top: 0; padding-top: 0; }
#formErrors { background-color: #f9ece6; background-image: url(../../images/layout/bg_alert.png); background-repeat: repeat-x; border: 1px solid #efcab8; padding: 5px; }
/** Options block, best to put it into fieldset **/
.objectOption { margin-top: 5px; }
.objectOption .optionLabel { display: block; float: left; width: 140px; }
.objectOption .optionLabel label { margin: 0; padding: 0; }
.objectOption div.optionControl { margin-left: 140px; }
.objectOption div.optionDesc { clear: left; color: #333333; font-size: 11px; padding: 0 5px 5px 5px; }
input.datepicker { width: 100px; }