/*[fmt]2A10-1A0B-3*/
/** Reset **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td  {
 margin: 0;
 padding: 0;
 font-family: inherit;
}

table  {
 border-collapse: collapse;
 border-spacing: 0;
 table-layout: fixed;
}

fieldset, img  {
 border: 0;
}

ol, ul  {
 list-style: none;
}

caption, th  {
 text-align: left;
}

q:before, q:after  {
 content: '';
}

body  {
 color: #333333;
 font-family: calibri, candara, tahoma, arial, helvetica, sans-serif;
 font-size: 1em;
 line-height: 150%;
}

input, th, td, textarea, option, select  {
 font-family: calibri, candara, tahoma, arial, helvetica, sans-serif;
 font-size: 1em;
}

a  {
/* border-bottom: 1px dotted #ABABAB;*/
 color: #616365;
 outline: none;
 text-decoration: none;
}

a:hover  {
/* border-bottom: 1px solid #666666;*/
    color: #00B6EC;
}

a img  {
 border: 0;
 vertical-align: text-bottom;
}

em  {
 font-style: italic;
}

strong  {
 font-weight: bold;
}

h1, h2, h3, h4  {
 margin: 10px 0;
}

h1  {
 font-size: 1.5em;
 padding: 0;
}

h2  {
 font-size: 1.25em;
}

h3  {
 font-size: 1.1em;
 text-decoration: underline;
}

p, ul, pre, dl  {
 margin: 5px 0;
}

ul  {
 list-style-image: url(../../images/icons/0105_ico-arrow.gif);
 padding-left: 15px;
}

ol  {
 list-style: decimal;
 padding-left: 15px;
}

dt  {
 font-weight: bold;
}

dd  {
 padding: 5px;
}

code  {
 background: #E8E8E8;
 font-size: 1.25em;
 overflow: auto;
 padding: 0 2px;
}

pre  {
 background: #F1F1F1;
 border: 1px solid #E5E5E5;
 font-size: 1.25em;
 overflow: auto;
 padding: 10px;
}

acronym  {
 border-bottom: 1px dotted #CCCCCC;
 cursor: help;
}

table  {
 border: 1px solid #CCCCCC;
 border-collapse: collapse;
 width: inherit;
}


th, td  {
 border: 1px solid #E5E5E5;
 padding: 4px;
 vertical-align: top;
 xwhite-space:pre-wrap;
 white-space:-moz-pre-wrap !important;
 word-wrap:break-word;
 font-size: 0.9em;
}

th  {
 font-weight: bold;
 background: #F1F1F1 url(../../images/logtypes/bg_th.gif) repeat-x left bottom !important;
 padding: 2px 5px;
}

table.blank  {
 width: 100%;
 border: 0;
}

table.blank th, table.blank td  {
 padding: 4px !important;
}

table.blank td  {
 border: 0;
}

/** Classes **/
.desc, .desc a  {
 color: #666666;
 xfont-size: 12px;
 font-style: italic;
 font-weight: normal;
 white-space:-moz-pre-wrap !important;
 word-wrap:break-word;
}

.help  {
 border-bottom: 1px dotted #CCCCCC;
 cursor: help;
}

.short  {
 width: 30px;
}

.medium  {
 width: 100px;
}

.long  {
 width: 350px;
}

.left  {
 text-align: left;
}

.center  {
 text-align: center;
}

.right  {
 text-align: right;
}

.top  {
 vertical-align: top;
}

.middle  {
 vertical-align: middle;
}

.bottom  {
 vertical-align: bottom;
}

.bold  {
 font-weight: bold;
}

.italic  {
 font-style: italic;
}

.normal  {
 font-style: normal;
 font-weight: normal;
}

.error  {
 color: #BF5940;
}

.even  {
 background-color: transparent;
 border-bottom: 1px solid #E8E8E8;
}

.odd  {
 background-color: #E6E8E9;
 border-bottom: 1px solid #BFD9E4;
}

.sidebarBlock div.odd  {
 padding: 5px;
 margin-top: 0 !important;
}

.sidebarBlock div.even  {
 padding: 5px;
 margin-top: 0 !important;
}

.note  {
 background: #E8E8E8;
 border: 1px solid #CCCCCC;
 padding: 0 8px;
}

.hint, .important, .success  {
 border: 1px solid #CCCCCC;
 xfont-size: 12px;
 margin: 10px 0;
 padding: 5px 10px;
}

.header  {
 font-weight: bold;
 font-size: 1.1em;
 padding: 2px 5px 4px;
}

.block .content, .hint .content, .important .content, .success .content  {
 line-height: 150%;
 padding: 5px;
}

.content .important {
 padding: 0px;
}

.header h2  {
 font-size: 16px;
 font-weight: bold;
 margin: 0 0 5px;
 padding: 0;
}

.block  {
 background: #F5F5F5 url('../../images/logtypes/old.gif') repeat-x top right;
 border: 1px solid #E0E0E0;
 margin-bottom: 5px;
 margin-top: 5px;
 padding: 0px;
}

.block .header  {
 border-bottom: 1px solid #CCCCCC;
}

.important  {
 background-color: #F9ECE6;
 background-image: url(../../images/layout/bg_alert.png);
 background-repeat: repeat-x;
 border-color: #EFCAB8;
 padding: 0px;
}

.important .header  {
 border-bottom: 1px solid #EFCAB8;
}

.success, .hint, #innerContentWrapper #success  {
 background: url(../../images/layout/bg_success.png) repeat-x top center;
 background-color: #FAF9E4;
 border: 1px solid #F2EEB7;
 margin-bottom: 10px;
 padding: 5px;
}

.success .header, .hint .header  {
 border-bottom: 1px solid #F2EEB7;
}

.hint .projectLogo img  {
 margin: 5px 10px 5px 0;
}

a.blank, a.blank:hover  {
 background: transparent;
 border: 0;
 margin: 0;
 padding: 0;
}

a.checkboxLink, a.checkboxLink:hover  {
 background: transparent;
 border: 0;
 height: 12px;
 margin: 0;
 padding: 0;
 width: 12px;
}

a.checkboxLink img  {
 border: 0;
}

.assignedTo  {
 font-weight: bold;
 color: #666;
 xfont-size: 12px !important;
}

a.selected  {
 background: #E9F1F5;
}

a.iCalSubscribe  {
 background: url('../../images/icons/icalendar.png') no-repeat;
 padding: 4px 0 0 20px;
}
